{
  "swagger": "2.0",
  "info": {
    "description": "",
    "version": "1.0.0",
    "title": "Custom Store",
    "termsOfService": "",
    "contact": {
      "email": "somemail@somedomain.com"
    },
    "license": {
      "name": "WTFPL",
      "url": "https://es.wikipedia.org/wiki/WTFPL"
    }
  },
  "host": "www.someapp.com",
  "basePath": "/store/api/v1",
  "tags": [
    {
      "name": "store"
    },
    {
      "name": "example"
    }
  ],
  "schemes": ["https", "http"],
  "definitions": {
    "Product": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "reference": {
          "type": "string"
        },
        "categories": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Category"
          }
        },
        "tags": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string"
        },
        "images": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Image"
          }
        },
        "price": {
          "type": "number"
        },
        "pricing": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Pricing"
          }
        },
        "brand": {
          "type": "string"
        },
        "features": {
          "type": "object"
        }
      }
    },
    "Category": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        },
        "images": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Image"
          }
        }
      }
    },
    "Image": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "path": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "Pricing": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "name": {
          "type": "string"
        },
        "description": {
          "type": "string"
        }
      }
    },
    "Cart": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        },
        "user": {
          "type": "string"
        },
        "product": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "product": {
                "$ref": "#/definitions/Product"
              },
              "quantity": {
                "type": "integer"
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/products": {
      "get": {
        "description": "To get a set of products",
        "responses": {
          "200": {
            "description": "Successfully returns a set of products"
          },
          "000": {
            "description": ""
          }
        }
      }
    },
    "/products/{id}": {
      "get": {
        "description": "To get one product",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "ID of the product",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successfully returns a product",
            "schema": {
              "$ref": "#/definitions/Product"
            }
          }
        }
      }
    }
  }
}
